@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./anton-v15-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+, Safari 10+ */
}
