* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

body {
  font-size: 16px;
  padding: 80px 5vw;
  padding-bottom: 300px;
}

p {
  line-height: 1.5;
}

:focus {
  outline: 3px solid #000;
  outline-offset: 5px;
}

button {
  cursor: pointer;
}

.menu-button {
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.452);
  padding: 10px 5px;
  background: #f1f1f1;
  font-size: 16px;
  color: #000;

  .menu-button-small-content {
    display: none;
  }

  &.btn-small {
    .menu-button-small-content {
      display: inline;
    }
    .menu-button-large-content {
      display: none;
    }
  }

  &.medium {
    font-size: 12px;
    font-weight: bold;
  }

  &:focus {
    position: relative;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.8);
  }

  &.opened {
    background: #446b9e;
    color: #fff;
  }
}

@media not all and (pointer: coarse) {
  .menu-button {
    &:hover {
      background: #b9c9dd;
    }

    &.opened {
      &:hover {
        background: #2e4c74;
      }
    }
  }
}

.dropdown {
  border: 2px solid rgb(146, 146, 146);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.37);
  margin: 0;
  background: #fff;

  .menu-button {
    margin: 5px 0;
  }
}

.nested {
  .dropdown {
    padding: 5px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 #000;
  z-index: 50;
  background: #fff;
}

section {
  margin: 25vh 0;
  &:first-child {
    margin-top: 0;
    margin-bottom: 25vh;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.25);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  > * {
    justify-self: start;
  }

  &.focuse-el-on-close {
    grid-template-columns: repeat(8, 1fr);
    > * {
      justify-self: center;
    }
  }
}

.lone-scrolling {
  position: relative;
  top: -30px;
  max-height: 500px;
  min-width: 95px;
  height: 20vh;
  overflow: scroll;
  border: 2px solid #727272;
  box-shadow: 0 0 12px 0 #00000061 inset;
  justify-self: stretch;
}

.iframe {
  display: block;
  max-width: 500px;
  min-width: 100px;
  width: 30vw;
  max-height: 155px;
  height: 40vh;
  border: 2px solid #727272;
}

.popup {
  transition: transform 0ms, opacity 0ms;
  transform-origin: center;

  &-enter {
    transform: scale(0);
    opacity: 0;
  }
  &-enter-to {
    transform: scale(1);
    opacity: 1;
  }
  &-exit {
    transform: scale(1);
    opacity: 1;
  }
  &-exit-to {
    transform: scale(0);
    opacity: 0;
  }

  &-enter-to,
  &-exit,
  &-exit-to {
    transition: transform 300ms, opacity 300ms;
    transform-origin: center;
  }
}

.overlay-a {
  &-enter {
    opacity: 0;
  }
  &-enter-to {
    opacity: 1;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-to {
    opacity: 0;
  }

  &-enter,
  &-enter-to,
  &-exit,
  &-exit-to {
    transition: opacity 300ms;
  }
}

@media (max-width: 350px) {
  .menu-button {
    font-size: 14px;
  }
  .iframe {
    max-height: 185px;
  }
}

@media (min-width: 700px) {
  .menu-button {
    &.btn-small {
      .menu-button-small-content {
        display: none;
      }
      .menu-button-large-content {
        display: inline;
      }
    }

    &.medium {
      font-size: 14px;
    }
  }
}
