.token.keyword {
  color: var(--token-keyword);
}
.token.selector {
  color: var(--token-selector);
}
.token.property {
  color: var(--token-property);
}
.token.punctuation {
  color: var(--token-punctuation);
}
.token.operator {
  color: var(--token-operator);
}
.token.boolean {
  color: var(--token-boolean);
}
.token.function {
  color: var(--token-function);
}
.token.string {
  color: var(--token-string);
}
.token.class-name {
  color: var(--token-class-name);
}
.token.attr-name {
  color: var(--token-attr-name);
}
.token.plain-text {
  color: var(--token-plain-text);
}
.tag {
  color: var(--token-tag);
}
.token.script {
  color: var(--token-script);
}
.token.comment {
  color: var(--token-comment);
}

.token.attr-value {
  color: var(--token-attr-value);
}
